<tr>
	<td><h6><%=s_date(job)%><%="-"%><%=e_date(job)%></h6></td>
	<td>	
		<% if job.job_type != "abroad" %>
		<strong><%=job.institution%></strong>, <%=job.department%>. <%end %><%=job.city%>, <%=job.country%>.<br />
		<em><%=job.position%></em><br />
			
		<div id="<%= job.id%>" class="collapse"> <br />
			<% if not job.content.empty? %>	
				<%= job.content %><p></p>
			<% else %>
				No s'han proporcionat detalls. <p></p>
			<% end %>
		</div>
	</td>
	<td>
		<button class="btn btn-info" data-toggle="collapse" data-target="#<%= job.id%>">Mes detalls</button>
		<% if @title=="Editar usuari" %>
			<%= button_to "Borrar", job, :method => :delete,  :title => "Eliminar #{job.job_type}",:confirm => "Estàs segur que vols eliminar aquesta entrada?", :class=>"btn btn-small pull-right" %>
			<%= link_to "Edita", edit_job_path(job), :class=>"btn btn-small pull-right" %>
		<% else %>
		<% end %>	
	</td>
</tr>

