<% text_job = job_text(@job)%>
<h1>Edita una entrada <%= text_job[:job_title]%></h1>

<%= form_for(@job) do |f| %>
    <%= render 'shared/error_messages', :object=>f.object %>
  <% if @job.job_type != "abroad" %>
    <div class="field">
      <%= f.label :empresa , text_job[:empresa] %>
      <%= f.text_field :institution %><br />
    </div>
    <div class="field">
      <%= f.label :departament, text_job[:departament] %>
      <%= f.text_field :department %><br />
    </div>  
    <div class="field">
      <%= f.label :posició, text_job[:position] %>
      <%= f.text_field :position %><br />
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :feinaactual, text_job[:currentjob] %>
    <%= f.check_box :current_job %><br />
  </div>       
 <%=render 'jobs/e_date_form' %>    
 <%=render 'jobs/s_date_form' %>
   <div class="field">
    <%= f.label :país %>
    <%= f.text_field :country %><br />
  </div>
  <div class="field">
    <%= f.label :ciutat %>
    <%= f.text_field :city %><br />
  </div>
  <div class="field">
    <%= f.label :descripció %>
    <%= f.text_field :content %><br />
  </div>
  <div class="actions">
    <%= f.submit "Create it" %>
  </div>
<% end %>
<%= link_to "Cancelar", edit_user_path(current_user), :class=>"btn btn-primary btn-small" %>
