<h1>Create a new course</h1>

<%= form_for(@job, :url => {:action=>"createcourse"}) do |f| %>
    <%= render 'shared/error_messages', :object=>f.object %>
  <div class="field">
    <%= f.label "Institució que l'impartia" %>
    <%= f.text_field :institution %><br />
  </div>
  <div class="field">
    <%= f.label "Nom del curs" %>
    <%= f.text_field :department %><br />
  </div>  
  <div class="field">
    <%= f.label "Tipus de curs (màster, doctorat...)" %>
    <%= f.text_field :position %><br />
  </div>  
  <div class="field">
    <%= f.label "Cursant-lo actualment" %>
    <%= f.check_box :current_job %><br />
  </div>           
 <%=render 'jobs/e_date_form' %>
 <%=render 'jobs/s_date_form' %>
   <div class="field">
    <%= f.label :país %>
    <%= f.text_field :country %><br />
  </div>
  <div class="field">
    <%= f.label :ciutat %>
    <%= f.text_field :city %><br />
  </div>
  <div class="field">
    <%= f.label :descripció %>
    <%= f.text_field :content %><br />
  </div>
  <div class="actions">
    <%= f.submit "Create it" %>
  </div>
  <% end %>
<%= link_to "Cancelar", current_user, :class=>"btn btn-primary btn-small" %>



