<div class="span9 offset1 top-sep3">
	<div class="span2">
		<div class="sidebar-nav">
		<%= gravatar_for @user,:size=>160 %>
		<p></p>
		<ul class="nav nav-list well">
			<li class="nav-header">Titulació</li>
			<!--TODO link to filter search -->
			<li><%=link_to @user.degree1, users_path(:search=>@user.degree1), :method =>'get' %></li>
			<li><%=link_to @user.degree2, users_path(:search=>@user.degree2), :method =>'get' %></li>
			<li class="nav-header">Promoció</li>
			<li><%=link_to @user.year, users_path(:search=>@user.year), :method =>'get' %></li>
		</ul>
		</div>
	</div>
	<div class="span6">
		<div class="span6">
		<h1><%= @user.name %></h1>
		</div>

<%=@job.institution %> <%= @job.department%> <%= @job.position %>

<%=@job.s_date.strftime("Des del %m/%Y")%> <%=@job.e_date.strftime("Al %m/%Y")%>

<%=@job.city%>, (<%=@job.country%>)

<%=@job.content%>

		</div>
	</div>
</div>


<!-- 
<%= link_to "Veure perfil", @user.linkedin, :target => '_blank'%>
-->
