<%= form_for(@user, :html=>{:class=>"form-horizontal"}) do |f| %>
    <!--TODO Error messages with Twitter Bootsrap falvour -->
    <%= render 'shared/error_messages', :object => f.object %>
  	<fieldset>
     
     <!--TODO can the name be changed? -->
     			                  
     <div class="control-group">
         <label class="control-label" for="input01">e-mail</label>
         <div class="controls">
         	<%= f.text_field :email, :class=> "input-xlarge" %>           
         </div>
     </div>
     

	     <div class="control-group">
	         <label class="control-label" for="input01">Nova Contrasenya</label>
	         <p class="help-block">Deixar en blanc si no es vol modificar</p>
	         <div class="controls">
	         	<%= f.password_field :password, :class=>"input-clarge" %>
	         </div>
	     </div>
     
	     <div class="control-group">
	         <label class="control-label" for="input01">Confirmació</label>
	         <div class="controls">
	         	<%= f.password_field :password_confirmation, :class=>"input-clarge" %>
	         </div>
	     </div>

     
     <div class="control-group">
         <label class="control-label" for="select01">Carrera 1</label>
         <div class="controls">
             <%= select("user", "degree1", {"Telecomunicacions"=>"Telecomunicacions","Matemàtiques"=>"Matemàtiques","Industrials"=>"Industrials", "Camins"=>"Camins", "Informàtica"=>"Informàtica"}) %>
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="select01">Carrera 2</label>
         <div class="controls">
             <%= select("user", "degree2", {"Telecomunicacions"=>"Telecomunicacions","Matemàtiques"=>"Matemàtiques","Industrials"=>"Industrials", "Camins"=>"Camins", "Informàtica"=>"Informàtica"}) %>
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="select01">Promoció</label>
         <p class="help-block">Selecciona l'any que vas entrar al CIFS</p>
         <div class="controls">
             <%= select("user", "year", {"2003"=>"2003","2004"=>"2004","2005"=>"2005", "2006"=>"2006", "2007"=>"2007","2008"=>"2008","2009"=>"2009","2010"=>"2010","2011"=>"2011"}) %>
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Edat</label>
         <div class="controls">
         	<%= f.text_field :age, :class=> "input-mini" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Telèfon contacte</label>
         <div class="controls">
         	<%= f.text_field :telephone, :class=> "input-clarge" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Blog</label>
         <div class="controls">
         	<%= f.text_field :blog, :class=> "input-xlarge" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Linkedin</label>
         <div class="controls">
         	<%= f.text_field :linkedin, :class=> "input-xlarge" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Ciutat procedència</label>
         <div class="controls">
         	<%= f.text_field :procedence, :class=> "input-xlarge" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="input01">Lloc de residència actual</label>
         <div class="controls">
         	<%= f.text_field :current_location, :class=> "input-xlarge" %>           
         </div>
     </div>
     
     <div class="control-group">
         <label class="control-label" for="textarea">Interesos</label>
         <div class="controls">
         	<%= f.text_area :likes, :class=>"input-xlarge", :rows=>3 %>
         <p class="help-block">Descriu amb tags les coses que t'apassionen</p>
         </div>
    </div>
    
    <div class="control-group">
         <label class="control-label" for="input01">Imatge</label>
         <div class="controls">
         	<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails">Canviar</a>
         <p class="help-block">Escollir imatge des del site Gravatar</p>
         </div>
     </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Desar canvis</button>
        <button class="btn">Cancel·lar</button>
  	</div>
<% end %>