<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  | <%= user.degree1%> i <%=user.degree2%>
  | Titulat l'any <%= user.year %>
  <% if current_user.admin? %>
    | <%= link_to "editar", edit_user_path(user) %>
    | <%= link_to "eliminar", user, :method => :delete,
          :confirm => "Segur?", :title => "Eliminar #{user.name}" %>
  <% end %>
</li>

