<div class="span9 offset1 top-sep3">
	<div class="span2">
		<div class="sidebar-nav">
		<%= gravatar_for @user,:size=>160 %>
		<p></p>
		<ul class="nav nav-list well">
			<li class="nav-header">Titulació</li>
			<!--TODO link to filter search -->
			<li><%=link_to @user.degree1, users_path(:search=>@user.degree1), :method =>'get' %></li>
			<li><%=link_to @user.degree2, users_path(:search=>@user.degree2), :method =>'get' %></li>
			<li class="nav-header">Promoció</li>
			<li><%=link_to @user.year, users_path(:search=>@user.year), :method =>'get' %></li>
		</ul>
		</div>
	</div>
	<div class="span6">
		<div class="span6">
		<h1><%= @user.name %></h1>
		</div>
		<div class="span6 top-sep3">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
		  		<li><a href="#work" data-toggle="tab">Experiència Laboral</a></li>
		 		<li><a href="#abroad">Estades Extranger</a></li>
		 		<li><a href="#interests">Aficions</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="personal">
					<%= form_for(@user, :html=>{:class=>"form-horizontal"}) do |f| %>
				    <!--TODO Error messages with Twitter Bootsrap falvour -->
				    <%= render 'shared/error_messages', :object => f.object %>
			      	<fieldset>
			         
			         <!--TODO can the name be changed? -->
			         
			                  
			         <div class="control-group">
			             <label class="control-label" for="input01">e-mail</label>
			             <div class="controls">
			             	<%= f.text_field :email, :class=> "input-xlarge" %>           
			             </div>
			         </div>
			         <!--TODO Not making password compulsory to change--> 
			         <div class="control-group">
			             <label class="control-label" for="input01">Contrasenya</label>
			             <div class="controls">
			             	<%= f.password_field :password, :class=>"input-clarge" %>
			             </div>
			         </div>
			         
			         <div class="control-group">
			             <label class="control-label" for="input01">Confirmació</label>
			             <div class="controls">
			             	<%= f.password_field :password_confirmation, :class=>"input-clarge" %>
			             </div>
			         </div>
			         
			         <!--TODO link the NewLetter checkbox -->
			         <div class="control-group">
			             <label class="control-label" for="optionsCheckbox">Newsletter</label>
			             <div class="controls">
			             <label class="checkbox">
			                 <input type="checkbox" id="optionsCheckbox" value="option1">
			                 Vull rebre informació per e-mail de la NewsLetter dels Alumni
			             </label>
			             </div>
			         </div>
			         
			         <div class="control-group">
			             <label class="control-label" for="select01">Carrera 1</label>
				         <div class="controls">
				             <%= select("user", "degree1", {"Telecomunicacions"=>"Telecomunicacions","Matemàtiques"=>"Matemàtiques","Industrials"=>"Industrials", "Camins"=>"Camins", "Informàtica"=>"Informàtica"}) %>
			             </div>
			         </div>
			         
			         <div class="control-group">
			             <label class="control-label" for="select01">Carrera 2</label>
				         <div class="controls">
				             <%= select("user", "degree2", {"Telecomunicacions"=>"Telecomunicacions","Matemàtiques"=>"Matemàtiques","Industrials"=>"Industrials", "Camins"=>"Camins", "Informàtica"=>"Informàtica"}) %>
			             </div>
			         </div>
			         
			         <div class="control-group">
			             <label class="control-label" for="select01">Promoció</label>
				         <div class="controls">
				             <%= select("user", "year", {"2003"=>"2003","2004"=>"2004","2005"=>"2005", "2006"=>"2006", "2007"=>"2007","2008"=>"2008","2009"=>"2009","2010"=>"2010","2011"=>"2011"}) %>
				             <p class="help-block">Selecciona l'any que vas entrar al CIFS</p>
			             </div>
			         </div>
			          
			         <div class="control-group">
			             <label class="control-label" for="textarea">Interesos</label>
			             <div class="controls">
			             	<%= f.text_area :likes, :class=>"input-xlarge", :rows=>3 %>
			             <p class="help-block">Descriu amb tags les coses que t'apassionen</p>
			             </div>
			        </div>
			        
			        <div class="control-group">
			             <label class="control-label" for="input01">Imatge</label>
			             <div class="controls">
			             	<%= gravatar_for @user %>
			  				<a href="http://gravatar.com/emails">Canviar</a>
			             <p class="help-block">Escollir imatge des del site Gravatar</p>
			             </div>
			         </div>
			        </fieldset>
			        <div class="form-actions">
			            <button type="submit" class="btn btn-primary">Desar canvis</button>
			            <button class="btn">Cancel·lar</button>
		          	</div>
		    		<% end %>
				</div>
				<div class="tab-pane" id="work">
				
				</div>
				
				<div class="tab-pane" id="courses">
	
				</div>
				
				<div class="tab-pane" id="abroad">
			
				</div>
			</div>
	 
			<script>
			  $(function () {
			    $('#myTab a[href="#work"]').tab('show')
			  })
			</script>

			</div>
		</div>
	</div>
</div>


<!-- 
<%= link_to "Veure perfil", @user.linkedin, :target => '_blank'%>
-->
