<div class="span9 offset1 top-sep3">
	<div class="span2">
		<div class="sidebar-nav">
		<%= gravatar_for @user,:size=>160 %>
		<p></p>
		<ul class="nav nav-list well">
			<li class="nav-header">Titulació</li>
			<!--TODO link to filter search -->
			<li><%=link_to @user.degree1, users_path(:search=>@user.degree1), :method =>'get' %></li>
			<li><%=link_to @user.degree2, users_path(:search=>@user.degree2), :method =>'get' %></li>
			<li class="nav-header">Promoció</li>
			<li><%=link_to @user.year, users_path(:search=>@user.year), :method =>'get' %></li>
		</ul>
		</div>
	</div>
	<div class="span6">
		<div class="span6">
		<h1><%= @user.name %></h1>
		</div>
		<div class="span6 top-sep3">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
		  		<li><a href="#work" data-toggle="tab">Experiència Laboral</a></li>
		 		<li><a href="#abroad" data-toggle="tab">Cursos i Formació</a></li>
		 		<li><a href="#interests" data-toggle="tab">Estades Extranger</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="personal">
				<%= render 'users/edit_personal' %>
				</div>
				<div class="tab-pane" id="work">
					<%= render @jobs %>
				</div>
				
				<div class="tab-pane" id="courses">
					<%= render @jobs %>
				</div>
				
				<div class="tab-pane" id="abroad">
					<%= render @jobs %>
				</div>
			</div>
	 
			<script>
			  $(function () {
			    $('#myTab a[href="#work"]').tab('show')
			  })
			</script>
			</div>
		</div>
	</div>
</div>


<!-- 
<%= link_to "Veure perfil", @user.linkedin, :target => '_blank'%>
-->
