<h1>Directori</h1>

<% if current_user.admin? %>
  <hr style="margin-bottom: 0" />
  <%= link_to "Afegir nou usuari", new_user_path %>
  <hr />
<% end %>

<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>

<!-- http://guides.rubyonrails.org/layouts_and_rendering.html-->
<div class="container">
	<div class="span7 offset2">
	<table class="table table-striped">
		<thead>
			<tr>
			<th></th>
			<th>Nom i cognoms</th>
			<th>Titulacions</th>
			<th>Promoció</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
				<td><%= gravatar_for user, :size=>50 %></td>	
				<td><%= link_to user.name,user %></td>
				<td><%= user.degree1 %> + <%= user.degree2 %></td>
				<td><%= user.year %></td>
				</tr>
			<%end%>	
		</tbody>
		
	</table>
	</div>
</div>
<%= will_paginate :prev_label=>"Anterior",:next_label=>"Seguent"%>
