

<!-- http://guides.rubyonrails.org/layouts_and_rendering.html-->
<div class="span9 offset1">
<div class="page-header">
	<h1>Directori</h1>
</div>

<div class="span8">
	<%= form_tag users_path,:class=>"well form-search" ,:method => 'get' do %>
		<div class="span4">
		<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Buscar", :name => nil %>
		</p>
		</div>
		<% if current_user.admin? %>
			<div class="pull-right">
		  	<%= link_to "Afegir nou usuari", new_user_path, :class=>"btn btn-small btn-success"%>
		  	</div>
		<% end %>
	<% end %>
	<table class="table table-striped">
		<thead>
			<tr>
			<th></th>
			<th>Nom i cognoms</th>
			<th>Titulacions</th>
			<th>Promoció</th>
			<% if current_user.admin? %>
			<th>Admin</th>
			<% end%>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
				<td><%= gravatar_for user, :size=>50 %></td>	
				<td><%= link_to user.name,user %></td>
				<td><%= user.degree1 %>  <br/> <%= user.degree2 %></td>
				<td><%= user.year %></td>
				<% if current_user.admin? %>
				<td>
					<a href="#" class="btn btn-primary btn-small">Editar</a>
					<a href="#" class="btn btn-inverse btn-small">Eliminar</a>
				</td>
				<% end%>
				</tr>
			<%end%>	
		</tbody>
		
	</table>
	<!--TODO Bootsrap pagination-->
	<!--Take a look at https://github.com/mislav/will_paginate/issues/158-->
	<%= will_paginate :prev_label=>"<", :next_label=>">"%>
</div> <!--./span8 -->
</div>


