<h1>Directori</h1>

<% if current_user.admin? %>
  <hr style="margin-bottom: 0" />
  <%= link_to "Afegir nou usuari", new_user_path %>
  <hr />
<% end %>

<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>

<!-- http://guides.rubyonrails.org/layouts_and_rendering.html-->

<div class="span8">
<table class="table table-striped">
	<thead>
		<tr>
		<th>#fotu#</th>
		<th>Nom i cognoms</th>
		<th>Titulacions</th>
		<th>Promoció</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
			<td></td>	
			<td><%= user.name %></td>
			<td><%= user.degree1 %> + <%= user.degree2 %></td>
			<td><%= user.year %></td>
			<td>@mdo</td>
			</tr>
		<%end%>	
	</tbody>
</table>
</div>
