<div class="span9 offset1 top-sep3">
	<div class="span2">
		<div class="sidebar-nav">
		<%= gravatar_for @user,:size=>160 %>
		<p></p>
		<ul class="nav nav-list well">
			<li class="nav-header">Titulació</li>
			<!--TODO link to filter search -->
			<li><a href="#"><%= @user.degree1 %></a></li>
			<li><a href="#"><%= @user.degree2 %></a></li>
			<li class="nav-header">Promoció</li>
			<li><a href="#"><%= @user.year %></a></li>
		</ul>
		</div>
	</div>
	<div class="span6">
		<div class="span6">
		<h1><%= @user.name %></h1>
		</div>
		<div class="span6 top-sep3">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
		  		<li><a href="#work" data-toggle="tab">Experiència Laboral</a></li>
		 		<li><a href="#abroad">Estades Extranger</a></li>
		 		<li><a href="#interests">Aficions</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="personal">
					<div class="entry">
						<div class="span1 title_show"><h6>Edat</h6></div>
						<div>23</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>e-mail</h6></div>
						<div><%= @user.email %></div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Telèfon contacte</h6></div>
						<div>655677687</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Web Personal</h6></div>
						<div>www.exemple.com</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Linkedin</h6></div>
						<div>www.linkedin.com</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Telèfon contacte</h6></div>
						<div>655677687</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Procedència</h6></div>
						<div>Lleida</div>
					</div>
					<div class="entry">
						<div class="span1 title_show"><h6>Actual residència</h6></div>
						<div>Barcelona</div>
					</div>
				</div>
				<div class="tab-pane active" id="work">
					<% unless @user.jobs.empty? %>
	        			<table class="jobs" summary="User jobs">
	         			<%= render @jobs %>
	        			</table>
      				<% end %>	
             		<%= link_to "Crea nou treball ", newjob_path %>
				</div>
				<div class="tab-pane" id="abroad">
					<%= link_to "Crea nou curs ", newcourse_path %>
				
				</div>
				<div class="tab-pane" id="interests">
					<%= link_to "Crea nova estada fora ", newabroad_path %>
				</div>
			</div>
	 
			<script>
			  $(function () {
			    $('#myTab a[href="#work"]').tab('show')
			  })
			</script>
			</div>
		</div>
	</div>
</div>


<!-- 
<%= link_to "Veure perfil", @user.linkedin, :target => '_blank'%>
-->
