<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
			<%= gravatar_for @user %>
			<p></p>
			<ul class="nav nav-list">
				<li class="nav-header">Titulació</li>
				<!--TODO link to filter search -->
				<li><a href="#"><%= @user.degree1 %></a></li>
				<li><a href="#"><%= @user.degree2 %></a></li>
				<li class="nav-header">Promoció</li>
				<li><a href="#"><%= @user.year %></a></li>
				<li class="nav-header">email</li>
				<li><a href="#"><%= @user.email %></a></li>
			</ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span7">
			<div class="well">
				<h2>
					<%= gravatar_for @user, :size=>70 %>
					<%= @user.name %>
				</h2>
				
			</div>
			<div class="span8">
				<section id="abroad">
					<div class="page-header">
						<h2>Estades extranger</h2>
					</div>
					<p><%= @user.abroad %></p>
				</section>
				<section id="work">
					<div class="page-header">
						<h3>Experiència Laboral</h3>
					</div>
					<p><%= @user.work %></p>
				</section>
				<section id="likes">
					<div class="page-header">
						<h3>Interesos</h3>
					</div>
					<p><%= @user.likes %></p>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- 
<%= link_to "Veure perfil", @user.linkedin, :target => '_blank'%>
-->