<div class="top-sep1 span9 offset1">

	<div id="myCarousel" class="carousel">
	<div class="carousel-inner">
	
	<div class="active item"><%= image_tag "creat3.jpg", :class=>"img" %></div>
	<div class="item"><%= image_tag "creat4.jpg", :class=>"img" %></div>
	</div>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
	<% if ! signed_in? %>
		<div class="offset2 span5 top-sep2">
		<%= form_for(:session, :url => sessions_path, :class=>"well form-inline") do |f| %>
			<%= f.text_field :email, :class=> "input-clarge", :placeholder => 'e-mail' %>            
			<%= f.password_field :password, :class=>"input-medium",  :placeholder => 'contrasenya' %>
			<%= f.submit "Entrar", :class=>"" %>
		<% end %>
		</div>
	<% end %>
</div>



<!-- HOME1: Twitter like
<div class="top-sep">
	<div class="well span5 offset1">
		<div id="myCarousel" class="carousel">
	  	<div class="carousel-inner">
		<div class="active item"><%= image_tag "welcome-example.jpg", :class=>"img" %></div>
		<div class="item"><%= image_tag "welcome-example.jpg", :class=>"img" %></div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	
	<div class="span3 well">
		<%= form_for(:session, :url => sessions_path, :class=>"well") do |f| %>
		   	<%= f.text_field :email, :class=> "input-clarge", :placeholder => 'e-mail' %>            
		    <table><tbody><tr>
		    	<td><%= f.password_field :password, :class=>"input-medium",  :placeholder => 'contrasenya' %></td>
			   	<td><%= f.submit "Entrar" %></td>
			</tr></tbody></table>
			 <input type="checkbox" id="optionsCheckbox" value="option1">Recordar Contrsenya
		<% end %>	
	</div>
</div>
-->

<!-- HOME2: Fluid style
<form class="well form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="btn">Sign in</button>
</form>
-->
<!-- Row of columns -->
<!--
<div class="row">
	<div class="span4">
	  <h2>Heading</h2>
	  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">Més &raquo;</a></p>
	</div>
	<div class="span4">
	  <h2>Heading</h2>
	   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  <p><a class="btn" href="#">Més &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Heading</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn" href="#">Més &raquo;</a></p>
	</div>
</div>
-->


