
<div class="span9 offset1">
	<div class="page-header">
	<h1>Nova notícia</h1>
	</div>
	
	<div class="offset1">
		<%= form_for @post do |f| %>
	  	<%= render 'shared/error_messages', :object=>f.object %>
	  
	  	<div class="control-group">
		 	<label class="control-label" for="input01">Títol</label>
		 	<div class="controls">
		 	<%= f.text_field :title, :class=> "input-xlarge" %>
		 	</div>
	  	</div>
		  
		<div class="control-group">
			<label class="control-label" for="textarea">Contingut</label>
			<div class="controls">
			<%= f.text_area :content, :class=>"input-xlarge", :rows=>10 %>
			</div>
		</div>
		
		<div class="actions">
			<%= f.submit "Publicar" %>
		</div>
		<% end %>
	</div>
</div>
