<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</a>
	<%= link_to "CFIS Alumni", root_path, :class=>"brand" %>
	<div class="nav-collapse">
	<ul class="nav">
		<li class="divider-vertical"></li>
		<% if signed_in? %>
		<li class=""><%= link_to "Notícies", posts_path %></li>
		<li class=""><%= link_to "Directori", users_path %></li>
		<% end %>
		<li class=""><%= link_to "Ajuda", help_path %></li>
		<li><%= link_to "Contacte",contact_path %></li>
		<li class="divider-vertical"></li>

	</ul>
	<!--Dropdown menu -->
	<ul class="nav pull-right">
    	<li id="fat-menu" class="dropdown">
	        <% if signed_in? %>
	        <!--FIXME name nil if "username" subsituted for @user.name-->
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> username <b class="caret"></b></a> <!--  @user.name  -->
	        <ul class="dropdown-menu">
	        	<li><%= link_to "Perfil", current_user %></li>
	          	<li><%= link_to "Editar",edit_user_path(current_user) %></li>
	          	<li class="divider"></li>
	          	<li><%= link_to "Sortir", signout_path, :method => :delete %></li>
	        </ul>
	        <% else %>
            <%= link_to "Entrar", signin_path %>
		    <% end %>
        </li>
    </ul>
	</div>
</div>
</div>
</div>



